/springdata/codes_sources/.*
/springdata/codes_sources/sdjpabase/.*
/springdata/codes_sources/sdjpabase/target/*
/springdata/codes_sources/sdjpabase/op_sur_status.sh
/springdata/codes_sources/sdjpawebapp/.*
/springdata/codes_sources/sdjpawebapp/target/*
/springdata/codes_sources/neo4jbasique/.*
/springdata/codes_sources/neo4jbasique/target/*
/springdata/codes_sources/neo4jbasique/bdd_neo4j/*
/springdata/codes_sources/sdneo4jwebapp/.*
/springdata/codes_sources/sdneo4jwebapp/target/*
/springdata/codes_sources/sdneo4jbase/.*
/springdata/codes_sources/sdneo4jbase/target/*
/springdata/codes_sources/sdneo4jbase/bdd_neo4j/*
/springdata/codes_sources/sdneo4jbase/data/*
/springdata/codes_sources/sdrestws/.*
/springdata/codes_sources/sdrestws/target/*

